// @import url('https://fonts.cdnfonts.com/css/roboto');

@import url("https://fonts.cdnfonts.com/css/rubik-one");

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto"),
    url(https://fonts.cdnfonts.com/s/12165/Roboto-Regular.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src:
    local("Roboto"),
    url(https://fonts.cdnfonts.com/s/12165/Roboto-Medium.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  src:
    local("Roboto"),
    url(https://fonts.cdnfonts.com/s/12165/Roboto-Bold.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src:
    local("Roboto Black"),
    url(https://fonts.cdnfonts.com/s/12165/Roboto-Black.woff) format("woff");
}
